{% extends '@Blog/base.html.twig' %}
{% block sidebar %}
{% endblock sidebar %}
    {% block article %}
        <p>Результаты поиска :</p>
        <ul>
        {% for i in results %}
            <li>
                <a href="{{ path('blog_article', {'id': i.id}) }}">
                    {{ i.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endblock article %}


